body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}
nav {
  background-color: #ea8685;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
}
nav h1 {
  margin: 0;
  margin-right: auto;
}
nav li {
  display: inline-block;
  margin: 0 0 0 16px;
  cursor: pointer;
}
nav a {
  color: #fff;
  text-decoration: none;
}
.book-list ul {
  padding: 0;
}
.book-list li {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  color: white;
  background-color: #778ca3;
  cursor: pointer;
}
label,label span {
  display: block;
  margin: 6px 0;
}
input {
padding: 6px;
}
button{
  background: #ea8685;
  color: #fff;
  border: 0;
  padding: 6px 8px;
  cursor: pointer;
}